<%- include('../../fragments/header.ejs') %>
<main>
  <p class="brakrekordow"> <strong> Brak rekordów do wyświetlenia </strong></p>
  <div class="button-wrapper">
    <button onclick="location.href='/Patients'" > Dodaj nowego pacjenta </button>
  </div>
</main>
<%- include('../../fragments/footer.ejs') %>