<!DOCTYPE html>
<html lang="pl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../../../public/CSS/general.css">
    <title>Przychodnia Medyczna</title>
    <meta charset="UTF-8">
</head>
<body>
<header>
    <img src="../../../public/images/hospita.png" id="imghospital" alt="hospital">
    <h1 id="naglowek">Centrum Medyczne</h1>
    <div>
        <p> ul.Juliusza Słowackiego 18 <br>  05-840 Warszawa  <br> tel. 57272571</p>
        <button onclick="location.href='../Login/login.html'" > Zaloguj się </button>

    </div>
</header>
<nav >
    <button onclick="location.href='list-not-logged-in.html'" type="button" class="button"> Choroby </button>
</nav>
<main>

    <h1> Komunikaty </h1>
    <div class="menu-info">
        <img src="../../../public/images/strzykawka.jpg" class="komunikat" alt="strzykawka">
        <a href="https://www.gov.pl/web/zdrowie/test-covid-19-dla-uczestnikow-turnusow-rehabilitacyjnych-i-ich-opiekunow" > Test COVID-19 dla uczestników turnusów rehabilitacyjnych i ich opiekunów </a>
        <p>Przypominamy, że warunkiem rozpoczęcia rehabilitacji w ramach turnusu rehabilitacyjnego, o którym mowa w art. 10c ustawy z dnia 27 sierpnia 1997 r. o rehabilitacji zawodowej i społecznej oraz zatrudnianiu osób niepełnosprawnych (Dz. U. z 2021 r. poz. 573), jest negatywny wynik testu diagnostycznego w kierunku SARS-CoV-2 uczestnika tego turnusu z materiału pobranego w terminie nie wcześniejszym niż 4 dni przed terminem rozpoczęcia turnusu rehabilitacyjnego albo zaszczepienie się przeciwko COVID-19.</p>
    </div>
    <div class="menu-info">
        <img src="../../../public/images/DoctorMale.png" class="komunikat" alt="komunikat">
        <a href="https://www.gov.pl/web/edukacja-i-nauka/wsparcie-uczniow-w-powrocie-do-szkol--materialy-edukacyjne"  > Wsparcie uczniów w powrocie do szkół – materiały edukacyjne </a>
        <p>Zachęcamy do skorzystania z wykazu materiałów edukacyjnych przygotowanego przez Ministerstwo Edukacji i Nauki. Zawiera on publikacje i poradniki dla nauczycieli, dyrektorów szkół oraz rodziców. Materiały te będą pomocne w pracy z dziećmi i młodzieżą po długotrwałym okresie nauki zdalnej.</p>
    </div>
</main>

<footer>
    <p>Aleksandra Oliszewska s20509</p>
</footer>
</body>
</html>
