<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Przychodnia Medyczna</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../../../public/CSS/general.css">
    <link rel="stylesheet" type="text/css" href="../../../public/CSS/list.css">
    <link rel="stylesheet" type="text/css" href="../../../public/CSS/buttons.css">
    <link rel="stylesheet" type="text/css" href="../../../public/CSS/buttons-not-logged-in.css">
</head>
<body>
<header>
    <img src="../../../public/images/hospita.png" id="imghospital" alt="logo">
    <h1 id="naglowek">Centrum Medyczne</h1>
    <div >
        <p> ul.Juliusza Słowackiego 18 <br>  05-840 Warszawa  <br> tel. 57272571</p>
        <button onclick="location.href='index-not-logged-in.html'" > Strona Główna  </button>
    </div>
</header>
<nav>
    <button onclick="location.href='list-not-logged-in.html'" type="button" class="button" > Choroby </button>
</nav>
<main>
    <h2>Lista wszystkich chorób</h2>
    <p class="brakrekordow"> <strong> Brak rekordów do wyświetlenia </strong></p>
</main>
<footer>
    <p>Aleksandra Oliszewska s20509</p>
</footer>
</body>
</html>