<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Lista wszystkich chorób</h2>
    <p class="brakrekordow"> <strong> Brak rekordów do wyświetlenia </strong></p>
    <div class="button-wrapper">
        <button onclick="location.href='/Disease'" > Dodaj nową chorobę </button>
    </div>
</main>
<%- include('../../fragments/footer.ejs') %>