<%- include('../../fragments/header.ejs') %>
<main>
  <h2>Lista wszystkich pacjentów </h2>
  <p> Brak rekordów do wyświetlenia </p>
  <div class="button-wrapper">
    <button style=" min-width:250px" onclick="location.href='/PacjenciChoroba/add'"> Dodaj nowego pacjenta do leczenia </button>
  </div>
</main>
<%- include('../../fragments/footer.ejs') %>