<%- include('./fragments/header3.ejs') %>
<main style="width: 100%">
    <h1> Komunikaty </h1>
    <div class="menu-info">
        <img style="display: block; float:left;" src="/images/strzykawka.jpg" class="komunikat" alt="komunikat">
        <a href="https://www.gov.pl/web/zdrowie/test-covid-19-dla-uczestnikow-turnusow-rehabilitacyjnych-i-ich-opiekunow" > Test COVID-19 dla uczestników turnusów rehabilitacyjnych i ich opiekunów </a>
        <p style="text-align: left; color:black; width:90%">Przypominamy, że warunkiem rozpoczęcia rehabilitacji w ramach turnusu rehabilitacyjnego, o którym mowa w art. 10c ustawy z dnia 27 sierpnia 1997 r. o rehabilitacji zawodowej i społecznej oraz zatrudnianiu osób niepełnosprawnych (Dz. U. z 2021 r. poz. 573), jest negatywny wynik testu diagnostycznego w kierunku SARS-CoV-2 uczestnika tego turnusu z materiału pobranego w terminie nie wcześniejszym niż 4 dni przed terminem rozpoczęcia turnusu rehabilitacyjnego albo zaszczepienie się przeciwko COVID-19.</p>
    </div>

    <div class="menu-info">
        <img src="/images/DoctorMale.png" class="komunikat" alt="doctor">
        <a href="https://www.gov.pl/web/edukacja-i-nauka/wsparcie-uczniow-w-powrocie-do-szkol--materialy-edukacyjne"  > Wsparcie uczniów w powrocie do szkół – materiały edukacyjne </a>
        <p style="text-align: left; color:black;width:90%">Zachęcamy do skorzystania z wykazu materiałów edukacyjnych przygotowanego przez Ministerstwo Edukacji i Nauki. Zawiera on publikacje i poradniki dla nauczycieli, dyrektorów szkół oraz rodziców. Materiały te będą pomocne w pracy z dziećmi i młodzieżą po długotrwałym okresie nauki zdalnej.</p>
    </div>
</main>
<%- include('./fragments/footer.ejs') %>