<footer>
    <p>Aleksandra Oliszewska s20509</p>
    <div class="jezyki">
        <button onclick="location.href='/changeLang/pl'" id="pl" class="<%= lang == 'pl' ? 'active' : ''%>" > PL</button>
        <button onclick="location.href='/changeLang/en'" id="en" class="<%= lang == 'en' ? 'active' : ''%>"> EN</button></div>
</footer>
</body>
</html>