<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title><%= __('main-page.title') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/CSS/general.css">
    <link rel="stylesheet" type="text/css" href="/CSS/form.css">
    <link rel="stylesheet" type="text/css" href="/CSS/buttons.css">
    <link rel="stylesheet" type="text/css" href="/CSS/list.css">
</head>
<body>
<header >
    <img src="/images/hospita.png" id="imghospital" alt="logo">
    <h1 id="naglowek"><%= __('main-page.title') %></h1>
    <div >
        <p> ul.Juliusza Słowackiego 18 <br>  05-840 <%= __('main-page.city') %>  <br> tel. 57272571</p>
        <button onclick="location.href='/'" > <%= __('main-page.content') %> </button>
    </div>

</header>
